<div class="h-screen w-full bg-lighter-orange flex flex-col items-center px-5">
  <div class="w-full my-5">
    <img class="max-h-52 mx-auto" src="assets/images/sign-in.png" alt="" />
  </div>
  <div class="text-4xl text-center font-bold">Welcome to Hotcast</div>
  <div class="my-2 text-center">
    Log in to personalize your experience and access to thousands of podcasts.
  </div>
  <div class="flex-1 flex flex-col items-stretch w-full">
    <button class="my-1" flat-button (click)="login()">
      Sign up Free
    </button>
    <button class="my-1" stroked-button (click)="login()">
      <span class="block absolute py-3 px-5 top-0 left-0 h-full">
        <img
          class="h-full"
          src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Apple_logo_black.svg"
          alt=""
        />
      </span>
      <span>Continue with Apple</span>
    </button>
    <button class="my-1" stroked-button (click)="login()">
      <span class="block absolute py-3 px-5 top-0 left-0 h-full">
        <img
          class="h-full"
          src="https://img.icons8.com/color/240/000000/facebook.png"
          alt=""
        />
      </span>
      <span> Continue with Facebook </span>
    </button>
    <button class="my-1" stroked-button (click)="login()">
      <span class="block absolute py-3 px-5 top-0 left-0 h-full">
        <img
          class="h-full"
          src="https://img.icons8.com/color/240/000000/google-logo.png"
          alt=""
        />
      </span>
      <span> Continue with Google </span>
    </button>
    <button class="my-1" button (click)="login()">Log in</button>
    <div class="flex-1 flex flex-col-reverse items-center pb-2">
      <div class="w-4/12 h-1 rounded bg-main-black"></div>
    </div>
  </div>
</div>
